
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
}


nav {
    background-color: #333;
}

nav h1 {
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


section {
    padding: 20px 0;
}

section h2 {
    color: #000000;
}

section p {
    line-height: 1.6;
}


section ul {
    padding-left: 20px;
}


.bg-WHITE {
    background-color: #fff;
}

.bg-BLUE {
    background-color: #fffbfb;
}

.p-4 {
    padding: 16px;
}

.shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded-md {
    border-radius: 10px;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.gap-4 {
    gap: 16px;
}

.mb-8 {
    margin-bottom: 32px;
}

.list-disc {
    list-style-type: disc;
}

.list-inside {
    padding-left: 20px;
}

.text-xl {
    font-size: 1.25rem;
}

.font-bold {
    font-weight: bold;
}


.p-4 a {
    color: #ffffff;
    text-decoration: none;
}

.p-4 a:hover {
    text-decoration: underline;
}